<div class="center jumbotron">
  <h1>Welcome to Attendants!</h1>

  <h2>
   Checking students' attendance and making teacher's life easier! 
  </h2>

  <%= link_to "Sign up", signup_path, class: "btn btn-primary" %> 
  <%= link_to "Login", login_path, class: "btn btn-primary" %> 

</div>
